altair==5.5.0
apache-beam==2.48.0
apache-flink==1.20.1
apache-flink-libraries==1.20.1
attrs==25.3.0
avro-python3==1.10.2
blinker==1.9.0
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==2.2.1
crcmod==1.7
dill==0.3.1.1
dnspython==2.7.0
docopt==0.6.2
fastavro==1.10.0
fasteners==0.19
find_libpython==0.4.0
gitdb==4.0.12
GitPython==3.1.44
grpcio==1.71.0
grpcio-tools==1.71.0
hdfs==2.7.3
httplib2==0.22.0
idna==3.10
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kafka-python==2.1.0
MarkupSafe==3.0.2
narwhals==1.30.0
numpy==1.24.4
oauthlib==3.2.2
objsize==0.6.1
orjson==3.10.15
packaging==24.2
pandas==2.2.3
pemja==0.4.1
pillow==11.1.0
plotly==6.0.0
proto-plus==1.26.1
protobuf==5.29.3
py4j==0.10.9.7
pyarrow==11.0.0
pydeck==0.9.1
pydot==1.4.2
pyflink==1.0
pymongo==4.11.2
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2025.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rpds-py==0.23.1
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
six==1.17.0
smmap==5.0.2
streamlit==1.43.2
tenacity==9.0.0
toml==0.10.2
tornado==6.4.2
tweepy==4.15.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
zstandard==0.23.0
